.chat-box {
    display: flex;
    flex-direction: column;
    align-self: last baseline;
    margin: 50px 0px 50px 3vw;
    min-width: 200px;
    max-width: 30vw;
    width: 25vw;
    height: 50vh;
    max-height: 50vh;
}

.messages-area {
    flex: 1;
    display: flex;
    flex-direction: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.messages-inner {
    margin-top: auto;
    width: 100%;
}

.chat-message-frame {
    background: #9fa6ac;
    padding: 5px;
    margin: 5px 0px;
    border-radius: 10px;
}

.chat-message-event {
    color: #212529;
    margin: 0px;
}

.system-event {
    color: #212529;
    margin: 0px;
}

.websocket-event {
    color: #212529;
    margin: 0px;
}

.player-status-event {
    color: #212529;
    margin: 0px;
}

.game-move-event {
    color: #212529;
    margin: 0px;
}

.game-update-event {
    color: #212529;
    margin: 0px;
}

@media (orientation: portrait), (max-width: 780px) {
    .chat-box {
        width: 80vw;
        max-width: min(80vw, 500px);
    }
}