.game-region {
    display: flex;
    flex-direction: row;

}

.player-card-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}

.game-board {
    width: 30vw;
    aspect-ratio: 1/1;
    min-width: 325px;
    min-height: 325px;
    max-width: min(60vmin, 1000px);
    max-height: min(60vmin, 1000px);
    box-shadow: 10px 10px 20px;
}

.game-spaces-container {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 2%;
    grid-template-columns: repeat(7, auto);
}

.board-space {
    border-radius: 50%;
    background: #6c757d;
    aspect-ratio: 1/1;
}

.chat-box {
    align-self: last baseline;
    margin: 50px;
    min-width: 150px;
    max-width: 30vw;
}

@media (max-width: 1215px) {
    
}